* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.hero {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 45px;
  padding: 0 50px 0 50px;
}
.main-right {
  height: 100%;
  width: 40%;
}
.main-right .form-box {
  border: 1px solid gray;
}
.main-right .img-insta {
  margin: 10% 0 10% 0;
  display: flex;
  justify-content: center;
}
.main-right .form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form .input-txt {
  width: 78%;
  height: 5vh;
  align-self: center;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px;
}
.form .input-txt::placeholder {
  font-size: 12px;
}
.form .input-btn {
  width: 82%;
  align-self: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: #0094f6d2;
  opacity: 7;
  border: none;
  border-radius: 10px;
  height: 6vh;
  padding: 8px;
  margin-top: 5px;
}
.separation {
  margin: 14px 45px 22px;
  display: flex;
  flex-direction: row;
}
.separation .line {
  border: 1px solid gray;
  top: 0.45em;
  height: 1px;
  /* position: relative; */
}
.separation .txt-box {
  /* position: absolute; */
  z-index: 1;
}
